<?xml version="1.0" encoding="UTF-8"?>
<suite name="Selenium Automation">
    <listeners>
        <listener class-name="core.features.ListenerClass" />
    </listeners>

    <test name="Google Tests" preserve-order="true">
        <classes>
            <class name="tests.HomeTest"/>
        </classes>
    </test>
</suite>
